body{
  margin: 0;
  
}
header{
  height: 100px;
  display: flex;
  align-items: center;
  background: #6441A5;
  background: -webkit-linear-gradient(to right,#2a0845,#6441A5 );
  background: linear-gradient(to right,#2a0845,#6441A5);
}
header > img{
  height: 80%;
  mar
}